#people {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

button {
    width: 100%;
    height: 100%;
}

#textarea-container {
    position: relative;
    display: block;
}

.copy-button {
    --button-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: var(--button-size);
    aspect-ratio: 1/1;
    height: var(--button-size);
}